@font-face {
  font-family: "Orange Avenue";
  src: url("../FONTS/OrangeAvenueDEMO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orange Avenue Outline";
  src: url("../FONTS/OrangeAvenueOutlineDEMO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
